#best{
  color: #502f2a;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  font-family: "Oswald";
}

#quote{
  background-color: #e8ddeb;
  padding: 20px 40px 60px 40px;
  margin: 10vh 20vw;
  font-family: "Oswald";
  font-weight: 600;
  filter: drop-shadow(3px 3px 4px rgba(0,0,0,.5));
  border-radius: 20px;
}

#qtext{
  color: #2e2226;
  text-align: center;
}

body{
  background-color: #eab6b0;
}

button{
  float: right;
  padding: 10px 50px;
  font-family: Oswald;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 20px;
  background-color:  #294681;
  color: #e4dfdb;
  border-radius: 20px;
  border: none;
}

button:hover{
  border: 3px #ab8c8f solid;
}

button:active{
  background-color: #665c5b;
}

.cover{
  width: 18vw;
  padding-bottom: 40px;
  min-width: 10px;
  margin:auto;
  display:block;
}
