body {
  background-color: #F7D9D9;
  font-family: serif;
}


#first h1 {
  color: #5C4033;
  font-weight: 1,500;
}

#img1 {
  width: 30vw;
  padding: 20px 0px;
}

#first h2 {
  color: #5C4033;
  font-weight: 1,500;
}

#firstp {
  color: #F25287;
  font-style: italic;
  font-weight: 550;
  font-size: 2.5vw;
}

#secondp {
  color: #F25287;
  font-weight: bold;
}

#second h1 {
  color: #5C4033;
}

#second p {
  color: #F25287;
  font-size: 20px;
}

#three {
  font-weight: bold;
}

#second ol {
  color: #F596B0;
  font-size: 18px;
  margin: 20px;
  padding-right: 200px;
}

#img2 {
  padding: 20px 0px;
}

#whole {
  font-weight: bold;
}

#passions {
  font-style: italic;
}

#retain {
  font-style: italic;
}

#utilize {
  font-weight: bold;
}

#third h1 {
  color: #5C4033;
}

#third p {
  color: #F25287;
  padding-right: 200px;
}

#lovely {
  font-style: italic;
}

#NJ {
  font-weight: bold;
}

#img3 {
  padding: 20px 0px;

}
