h1{
  font-size: 45px;
  color: purple;
}

body{
  background-color: rgb(0,0,0);
  color: white;
}

#top{
  background-color: rgb(30,100,0);
  font-family: helvetica
}

#top h1{
  color:red;
}

#img{
  background-color: rgb(40,70,0);
}

#input{
  background-color: rgb(20,60,40);
}

ul {
  color: blue;
  font-family: garamond;
  font-weight: 800;
}

img {
  width: 25vw;
  margin: 20px;
}

button{
  color: blue;
  background-color: pink;
}

#second{
  color: yellow;
  background-color: magenta;
}

form{
  margin-left: 20px;
}
