body{
  background-color: #FFF6EF;
}

nav{
  display:flex;
  width: 50vw;
  justify-content: right;
  margin: 20px auto 20px calc(100% - 55vw);
}

nav a{
  font-family: Oswald;
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
  margin-left: 30px;
  text-decoration-style: dotted;
  color: #DEBEA8;
}

#SO{
  color: #CB997E;
}

#SMtext{
  font-family: "Oswald";
  font-size: 60px;
  text-align: center;
  color: #6B705C;
  letter-spacing: 10px;
  word-spacing: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#click{
  font-family: "Oswald";
  font-size: 25px;
  text-align: center;
  color: #A5A58D;
  margin-bottom:20px;
  margin-top: -20px;
}

#flex{
  display: flex;
  width: auto;
  margin: 10px 20vw;
}

.flexitem{
  flex-grow: 1;
  margin-left: 10px;
  margin-top: -10px;
}

.social{
  width: 70px;
  min-width: 10px;
  margin:auto;
  display:block;
}

#one{
  margin-right: 200px;
}

#two{
  margin-left: 200px;
}

#flex2{
  display: flex;
  width: auto;
}

.flexitem2{
  flex-grow: 1;
}

#pics{
  float:left;
  margin-left: 200px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
}

#pics2{
  float:left;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
}

#ropic, #ropic2{
  margin-bottom: 1px;
  padding: 0px;
  width: 400px;
  height: auto;
  overflow: hidden;
}


button{
  background-color: #FFF6EF;
  border-width: 2px;
  border-radius: 10px;
  border-color: #A5A58D;
  border-style: dotted;
  font-family: "Oswald";
  font-size: 20px;
  color: #CB997E;
  padding: 10px 30px;
  margin-top: 20px;
  margin-left: 110px;
}

#picbutton, #picbutton2{
  letter-spacing: 3px;
  word-spacing: 1px;
}
