body {
  background-color: #FFFFFF;
  font-family: serif;
}


#first h1 {
  color: #5C4033;
  font-weight: 1,500;
}

#cloudimg {
  width:130vw;
  height: 20vw;
  position: relative;
  /* bottom: 300px; */
}


#first h2 {
  color: #5C4033;
  font-weight: 1,500;
}

#firstp {
  color: #FFFFFF;
  font-style: italic;
  font-weight: 550;
  font-size: 20px;
}

#secondp {
  color: #FFFFFF;
  font-weight: bold;
}

#second h1 {
  color: #5C4033;
}

#second p {
  color: #FFFFFF;
  font-size: 18px;
}

#three {
  font-weight: bold;
}

#second ol {
  color: #FFFFFF;
  font-size: 15px;
  margin: 20px;
  padding-right: 200px;
}

#whole {
  font-weight: bold;
}

#passions {
  font-style: italic;
}

#retain {
  font-style: italic;
}

#utilize {
  font-weight: bold;
}

#third h1 {
  color: #5C4033;
}

#third p {
  color: #FFFFFF;
  padding-right: 200px;
}

#encyclopedia {
  color: #FFFFFF;
}

#lovely {
  font-style: italic;
}

#NJ {
  font-weight: bold;
}

#balloonimg {
  width:130vw;
  height: 20vw;
}

button{
  background-color: #F7D9D9;
  color: #5C4033;
  font-family: serif;
  font-size: 18px;
  font-weight:200;
  margin: 10px;
  padding: 7px 20px;
  position: relative;
}
