body{
  background-color: #FFF6EF;
}

nav{
  display:flex;
  width: 50vw;
  justify-content: right;
  margin: 20px auto 20px calc(100% - 55vw);
}

nav a{
  font-family: Oswald;
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
  margin-left: 30px;
  text-decoration-style: dotted;
  color: #DEBEA8;
}

#home{
  color: #CB997E;
}

#hometext{
  font-family: "Oswald";
  font-size: 60px;
  text-align: center;
  color: #6B705C;
  letter-spacing: 10px;
  word-spacing: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#check{
  color: #A5A58D;
  font-family: "Oswald";
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
}

#one, #two, #three, #four{
padding-right: 80px;
margin-bottom: 30px;
}

#examples, #examples2{
  font-family: "Oswald";
  display:flex;
  /* text-align: center; */
  color: #CB997E;
  font-size: 17px;
  margin-top: 50px;
  margin-left: 32px;
}

#examples2{
  padding-left: 28px;
  padding-bottom: 80px;
}

/* #examples2{
  font-family: "Oswald";
  display:flex;
  text-align: center;
  color: #CB997E;
  font-size: 17px;
  margin-top: 50px;
  margin-left: 32px;
  margin-bottom: 60px;
} */

.code, .code2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img{
  flex-grow: 1;
  max-width: 40vw;
  height: 40vh;
  width:30vw;
  margin-right: 80px;
  object-fit: cover;
}
