@media screen and (min-width: 700px){
body{
  background-color: #FFF6EF;
}

nav{
  display:flex;
  width: 50vw;
  justify-content: right;
  margin: 20px auto 20px calc(100% - 55vw);
}

nav a{
  font-family: Oswald;
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
  margin-left: 30px;
  text-decoration-style: dotted;
  color: #DEBEA8;
}

#AM{
  color: #CB997E;
}

#AboutMeText{
  font-family: "Oswald";
  font-size: 60px;
  text-align: center;
  color: #6B705C;
  letter-spacing: 10px;
  word-spacing: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#AMintro{
  font-family: "Oswald";
  font-size: 25px;
  text-align: center;
  color: #A5A58D;
  margin-bottom: 30px;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: -20px;
}

#pictures{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pictures img{
    flex-grow: 1;
    max-width: 23vw;
    height: 32vh;
    width:25vw;
    object-fit: cover;
  }

#aboutps{
    font-family: "Oswald";
    font-size: 30px;
    text-align: center;
    color: #A5A58D;
    margin-bottom: 30px;
    padding: 0px 200px;
    margin-top: 40px;
    font-weight: lighter;
    font-style: italic;
  }

#one, #two, #three, #four{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
